body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    width: 50%;
}

input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px;
}

option{
    text-align: center;
}

select {
    width: 10%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #fff;
}

input[type="submit"] {
    background-color: #ff5722;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .container {
        padding: 10px;
    }
    form {
        padding: 10px;
    }
    input[type="text"],
    select {
        width: 100%;
    }
}
